.clients{
    &__title{
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        margin-bottom: 80px;
        @include media(992){
            margin-bottom: 35px;
        }
    }
    &__img{
        max-width: 330px;
        width: 100%;
        object-fit: cover;
        @include media(767){
            max-width: 100%;
            width: 100%;
        }
        img{
            width: 100%;
            object-fit: cover;
        }
    }
    &__slider{
        position: relative;
    }
    &__slide{
        filter: drop-shadow(0px 10px 15px rgba(146, 140, 140, 0.25));
    }
    &__swiper{
        padding: 0 15px;
        @include media(992){
            padding: 22px 15px 30px 15px;
            margin: -22px 0 -30px 0;
        }
    }
    &__buttons{
        display: flex;
        justify-content: space-between;
        align-items: stretch;
        width: 100%;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }
    &__button{
        &-prev{
            margin-left: -70px;
            @include media(1400){
                margin-left: -15px;
            }
        }
        &-next{
            margin-right: -70px;
            @include media(1400){
                margin-right: -15px;
            }
        }
    }
}