.footer{
    background: rgba(108, 152, 117, 0.12);
    &__body{
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        @include media(767){
            column-gap: 10px;
        }
    }
    &__logos{
        display: flex;
        align-items: center;
        column-gap: 30px;
        margin-bottom: 42px;
        @include media(992){
            flex-direction: column;
            align-items: flex-start;
            margin-bottom: 30px;
        }
        &-p{
            font-weight: 400;
            font-size: 16px;
            line-height: 150%;
            color: #141414;
            max-width: 190px;
            width: 100%;
            @include media(767){
                font-size: 12px;
                line-height: 150%;
                max-width: 145px;
                width: 100%;
            }
        }
    }
    &__id{
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        color: #141414;
        @include media(992){
            margin-bottom: 15px;
        }
        @include media(767){
            font-size: 12px;
            line-height: 150%;
        }
    }
    &__right{
        display: flex;
        flex-direction: column;
        row-gap: 37px;
        align-items: flex-end;
        @include media(992){
            row-gap: 0;
        }
    }
    &__adress{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    &__phone{
        font-weight: 700;
        font-size: 24px;
        line-height: 150%;
        text-align: right;
        color: #313330;
        margin-bottom: 6px;
        @include media(992){
            margin-bottom: 8px;
        }
        @include media(767){
            font-size: 16px;
            line-height: 150%;
        }
        @include media(369){
            font-size: 13px;
        }
    }
    &__btn{
        font-weight: 700;
        font-size: 14px;
        line-height: 19px;
        text-align: center;
        color: #313330;
        max-width: 170px;
        width: 100%;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-right: 20px;
        padding-left: 20px;
        border: 1px solid #6C9875;
        border-radius: 5px;
        @include media(767){
            font-size: 12px;
            line-height: 16px;
            max-width: 145px;
            width: 100%;
        }
    }
    &__mail{
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        color: #141414;
        @include media(992){
            margin-top: 43px;
            margin-bottom: 13px;
        }
    }
    &__item{
        position: absolute;
        left: 50%;
        transform: translate(-50%, -50%);
        top: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 100%;
        align-items: center;
        @include media(992){
            bottom: 0;
            right: 0;
        }
    }
    &__info{
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        text-decoration-line: underline;
        color: #141414;
        @include media(767){
            font-size: 12px;
            line-height: 150%;
        }
    }
}
