.intro{
    margin-top: -178px;
    @include media(1400){
        background: linear-gradient(92.99deg, #FFFFFF 49.11%, rgba(255, 255, 255, 0) 82.57%), url(../img/intro-bg.png) center /  cover no-repeat;
        padding-top: 223px;
        width: 100%;
    }
    @include media(992){
        padding-top: 163px;    
        margin-top: -178px;
        background: transparent !important;
        position: relative;
        isolation: isolate;
        &::before{
            content: '';
            position: absolute;
            z-index: -1;
            width: 100%;
            height: 500px;
            top: 163px;
            background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0.5) 52.07%, #FFFFFF 100%), url(../img/intro-bg.png) right /  cover no-repeat;
        }
    }
    &__body{
        display: flex;
        justify-content: space-between;
        align-items: stretch;
        background: linear-gradient(92.99deg, #FFFFFF 49.11%, rgba(255, 255, 255, 0) 82.57%), url(../img/intro-bg.png) center /  cover no-repeat;
        padding-top: 223px;
        width: 100%;
        @include media(1400){
            background: none !important;
            padding-top: 0;
        }
        @include media(992){
            flex-direction: column;
            row-gap: 15px;
        }
    }
    &__title{
        max-width: 617px;
        width: 100%;
        margin-bottom: 30px;
        @include media(992){
            margin-bottom: 20px;
            max-width: 400px;
            width: 100%;
        }
        @include media(576){
            text-align: center;
            margin-left: auto;
            margin-right: auto;
        }
    }
    &__list{
        display: flex;
        flex-direction: column;
        margin-left: 22px;
        row-gap: 15px;
        margin-bottom: 50px;
        max-width: 395px;
        width: 100%;
        @include media(992){
            margin-bottom: 33px;
        }
        @include media(380){
            max-width: 295px;
            width: 100%;
        }
    }
    &__li{
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        color: #141414;
        position: relative;
        @include media(756){
            font-size: 14px;
            line-height: 150%;
        }
        &::before{
            content: '';
            position: absolute;
            top: 5px;
            left: -22px;
            height: 7px;
            width: 7px;
            background: linear-gradient(180deg, #BC6573 0%, #7D1B44 100%);
            border: 2px solid rgba(238, 210, 220, 0.82);
            box-shadow: 0px 1px 3px rgba(148, 117, 88, 0.2);
            border-radius: 50%;
        }
        &-span{
            font-weight: 700;
        }
    }
    &__right{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;
        position: relative;
        width: 50%;
        // &::before{
        //     content: '';
        //     position: absolute;
        //     width: 100%;
        //     height: 100%;
        //     left: 0;
        //     top: 0;
        //     margin-left: 15px;
        // }
        @include media(992){
            width: 100%; 
            align-items: flex-start;      
        }
        @include media(576){
            width: 100%;      
        }
        &-btn{
            font-weight: 700;
            font-size: 16px;
            line-height: 22px;
            text-align: center;
            color: #FFFFFF;
            background: linear-gradient(183.38deg, #DF92B2 17.08%, #A93B69 96.95%);
            box-shadow: 0px 2px 0px #8C2D54, inset 0px 2.8327px 4.24905px rgba(255, 255, 255, 0.25);
            border-radius: 4px;
            max-width: 255px;
            width: 100%;
            height: 60px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: -50px;
            margin-bottom: 50px;
            z-index: 1;
            position: relative;
            bottom: 0;
            transition: 200ms ease;
            &:active{
                box-shadow: none !important;
                bottom: -2px;
            }
            @include media(992){
                display: flex !important;
            }
            @include media(767){
                margin-right: auto;
                margin-left: auto;
                width: 100%;
            }
        }
    }
    &__desc{
        font-weight: 700;
        font-size: 18px;
        line-height: 150%;
        color: #313330;
        max-width: 270px;
        width: 100%;
        margin-bottom: 30px;
        &-span{
            color: #6C9875;
        }
        @include media(576){
            text-align: center;
            font-size: 14px;
            line-height: 150%;
            width: 244px;
            max-width: 100%;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 15px;
        }
    }
    &__btn{
        max-width: 370px;
        width: 100%;
        height: 80px;
        padding-left: 96px;
        padding-right: 96px;
        text-align: center;
        @include media(576){
            max-width: 270px;
            width: 100%;
            height: 70px;
            padding-right: 36px;
            padding-left: 36px;
        }
    }
    &__info{
        position: relative;
        max-width: 395px;
        width: 100%;
        @include media(576){
            max-width: 100%;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
    &__arrow{
        position: absolute;
        right: 0;
        top: 60px;
        @include media(576){
            right: 10px;
        }
        @include media(360){
            display: none;
        }
    }
    &__p{
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        color: #313330;
        max-width: 330px;
        width: 100%;
        &:nth-of-type(1){
            margin-bottom: 15px;
            margin-top: 38px;
            @include media(992){
                margin-top: 27px;
            }
        }
        &-span{
            color: #B7517C;
            font-weight: 700;
        }
        &:nth-of-type(2){
            margin-bottom: 15px;
        }
        @include media(576){
            max-width: 276px;
            width: 100%;
            font-size: 14px;
            line-height: 150%;
        }
        @include media(360){
            margin-left: 0;
        }
    }
    &__circle{
        @include media(767){
            width: 100%;
            margin-left: auto;
            margin-right: auto;
        }
    }
    &__swiper{
        position: relative;
        padding: 0 15px;
    }
    &__slider{
        position: relative;
        width: 100%;
    }
    &__slide{
        img{
            width: 100%;
            object-fit: cover;
        }
    }
    &__buttons{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: -5px;
        width: calc(100% + 10px);
        display: none;
        justify-content: space-between;
        @include media(1400){
            display: flex;
        }
    }
}