.popup{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #00000040;
    z-index: 100;
    padding: 30px 15px;
    opacity: 0;
    visibility: hidden;
    transition: 200ms ease;
    isolation: isolate;
    overflow: auto;
    &.active{
        opacity: 1;
        visibility: visible;
    }
    &>.popup-close{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
    }
    padding: 50px 0;
    @include media(992){
        padding: 35px 15px;
    }
    &__title{
        font-weight: 700;
        max-width: 475px;
        width: 100%;
        font-size: 30px !important;
        line-height: 130% !important;
        margin-bottom: 11px;
        text-align: center;
        margin-left: 60px;
        &_2{
            text-align: left;
            margin-left: 0;
            margin-bottom: 40px;
            @include media(992){
                margin-bottom: 23px;
                text-align: center;
                margin-left: auto;
                margin-right: auto;
                font-size: 22px !important;
                line-height: 130% !important;
            }
        }
        &_3{
            max-width: 100%;
        }
        @include media(1200){
            margin-left: 0;
        }
        @include media(992){
            margin-left: auto;
            margin-right: auto;
            font-size: 22px !important;
            line-height: 130% !important;
            margin-bottom: 15px;
        }
    }
    &__desc{
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        text-align: center;
        color: #313330;
        margin-bottom: 26px;
        max-width: 380px;
        width: 100%;
        margin-left: 80px;
        @include media(1200){
            margin-left: 0;
        }
        @include media(992){
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 28px;
        }
    }
    &__body{
        background: #FFFFFF;
        box-shadow: 0px 10px 15px rgba(191, 191, 191, 0.25);
        border-radius: 10px;
        padding: 50px 50px 70px 50px;
        position: relative;
        max-width: 1030px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        @include media(767){
            padding: 50px 3px;
        }
    }
    &__content{
        display: flex;
        justify-content: center;
        column-gap: 42px;
        @include media(992){
            flex-direction: column;
            row-gap: 44px;
            align-items: center;
        }
    }
    &__left{
        display: flex;
        flex-direction: column;
        row-gap: 15px;
        max-width: 320px;
        width: 100%;
        align-items: stretch;
    }
    &__form{
        display: flex;
        flex-direction: column;
        row-gap: 15px;
        align-items: stretch;
    }
    &__img{
        max-width: 530px;
        width: 100%;
        img{
            width: 100%;
        }
    }
    .textarea{
        background: #F8F8F8;
        border-radius: 4px;
        min-width: 308px;
        width: 100%;
        border: none;
        resize: none;
        padding: 20px 30px;
        height: 127px;
        @include media(576){
            min-width: 100%;
        }
        &::placeholder{
            font-weight: 400;
            font-size: 18px;
            line-height: 25px;
            color: #BCBCBC;
            @include media(992){
                font-weight: 400;
                font-size: 14px;
                line-height: 19px;
            }
        }
    }
}