mixin clients()
    .clients.section 
        .clients__body.container 
            h2.clients__title.title Посмотрите #[span.clients__title-span.title-span отзывы клиентов ] о работе с нами
            .clients__slider 
                .clients__swiper.swiper
                    .clients__swiper-wrapper.swiper-wrapper 
                        .clients__slide.swiper-slide
                            .clients__img 
                                img(src="@img/clients-img.png", alt="")
                        .clients__slide.swiper-slide
                            .clients__img 
                                img(src="@img/clients-img-2.png", alt="")
                        .clients__slide.swiper-slide
                            .clients__img 
                                img(src="@img/clients-img-3.png", alt="")
                        .clients__slide.swiper-slide
                            .clients__img 
                                img(src="@img/clients-img.png", alt="")
                        .clients__slide.swiper-slide
                            .clients__img 
                                img(src="@img/clients-img-2.png", alt="")
                        .clients__slide.swiper-slide
                            .clients__img 
                                img(src="@img/clients-img-3.png", alt="")
                .clients__buttons
                    .swiper-button-prev.clients__button-prev
                    .swiper-button-next.clients__button-next