mixin controls()
    .controls.section 
        .controls__body.container 
            h2.controls__title.title Каждый объект проходит  #[span.controls__title-span.title-span дополнительный контроль]
            .controls__content 
                .controls__img 
                    img(src="@img/controls-img.png", alt="")
                ul.controls__list 
                    li.controls__li Главный инженер проводит внутреннюю приемку топографических материалов.
                    li.controls__li Полевой контроль после съёмки - оцениваем и сверяем соответствие отрисованной ситуации на топографическом плане. Выполняем контрольные измерения для сверки координат и высот в полученных материалах. 
                    li.controls__li До передачи технических отчетов Заказчику, документация проходит внутренний нормоконтроль на предмет соответствия отчетов нормативной документации и правильности оформления.
                
