mixin header()
    header.header.section 
        nav.header__nav.container 
            .header__logos 
                a(href="#!").header__logo
                    img(src="@img/logo.png", alt="") 
                P.header__logos-p Инженерные изыскания #[br] с 2013 года
            .header__buttons 
                a(href="#!").header__btn.disable-lg Пригласить нас на тендер
                .header__buttons-content 
                    a(href="tel::8(812)309-67-37").header__phone  8 (812) 309-67-37
                    a(href="#!").header__button  Обратный звонок
