mixin help()
    .help.section 
        .help__body.container 
            h2.help__title.title #[span.help__title-span.title-span Современные методы ] помогают не упустить ни одной детали
            .help__content 
                .help__row 
                    .help__item.disable-lg 
                        h3.help__item-title Ортофотопланы с дронов
                        p.help__item-p Вы видите актуальную ситуацию в границах проектирования сверху,  с хорошей детализацией
                    .help__item.disable-lg 
                        h3.help__item-title Детальная съемка на объекте с точностью до 1 мм
                        p.help__item-p Используем лазерное сканирование, не упускаем ни одной детали (фонари, колодцы, направление проводов)
                .help__row 
                    .help__img 
                        img(src="@img/help-img-1.png", alt="")
                    .help__item.enable-lg 
                        h3.help__item-title Ортофотопланы с дронов
                        p.help__item-p Вы видите актуальную ситуацию в границах проектирования сверху,  с хорошей детализацией
                    .help__img 
                        img(src="@img/help-img-2.png", alt="")
                    .help__item.enable-lg 
                        h3.help__item-title Детальная съемка на объекте с точностью до 1 мм
                        p.help__item-p Используем лазерное сканирование, не упускаем ни одной детали (фонари, колодцы, направление проводов)
                    .help__img 
                        img(src="@img/help-img-3.png", alt="")
                    .help__item.enable-lg 
                        h3.help__item-title Фото c объектов привязаны к GPS
                        p.help__item-p Позволяет уточнить детали при проектирование на фотографии с привязкой к точному местоположению
                .help__row 
                    .help__item.disable-lg 
                        h3.help__item-title Фото c объектов привязаны к GPS
                        p.help__item-p Позволяет уточнить детали при проектирование на фотографии с привязкой к точному местоположению
                        