mixin intro()
    .intro
        .intro__body.container 
            .intro__content 
                h1.intro__title.title #[span.intro__title-span.title-span Геодезические изыскания] по всей России от 20 т.р./га
                ul.intro__list 
                    li.intro__li #[span.intro__li-span Оплата после] прохождения экспертизы
                    li.intro__li Работаем в #[span.intro__li-span 2 раза быстрее] за счет опыта, большой команды и современного оборудования
                    li.intro__li #[span.intro__li-span Гарантия ] на все работы закреплена в договоре
                p.intro__desc Рассчитаем стоимость вашего объекта за #[span.intro__desc-span 15 минут]
                .intro__info 
                    a(href="#!").intro__btn.btn Рассчитать стоимость и получить подарки
                    .intro__arrow 
                        img(src="@img/intro-arrow.png", alt="")  
                    p.intro__p #[span.intro__p-span Скидка 15% ] при заключении договора в течении 2-х дней с момента обращения
                    p.intro__p #[span.intro__p-span Скидка 7%] при заказе работ по геологии
            .intro__right 
                .intro__circle.circle 
                    p.intro__circle-p.circle-p Выполнили более 2700 объектов
                .intro__right-btn.enable-lg Пригласить нас на тендер
                .intro__slider
                    .intro__swiper.swiper
                        .intro__swiper-wrapper.swiper-wrapper 
                            .swiper-slide.intro__slide 
                                img(src="@img/intro-img-1.png", alt="")
                            .swiper-slide.intro__slide 
                                img(src="@img/intro-img-2.png", alt="")
                            .swiper-slide.intro__slide 
                                img(src="@img/intro-img-3.png", alt="")
                            .swiper-slide.intro__slide 
                                img(src="@img/intro-img-4.png", alt="")
                    .intro__buttons
                        .swiper-button-prev.intro__button-prev
                        .swiper-button-next.intro__button-next
                        


