mixin members()
    .members.section 
        .members__body.container 
            h2.members__title.title #[span.members__title-span.title-span Мы - члены СРО]  со всеми разрешениями для проведения геодезических работ
            p.members__desc В том числе на особо опасных объектах и объектах культурного наследия
            .members__slider
                .members__swiper.swiper
                    .members__swiper-wrapper.swiper-wrapper 
                        .swiper-slide.members__slide 
                            img(src="@img/members-img-1.png", alt="")
                        .swiper-slide.members__slide 
                            img(src="@img/members-img-2.png", alt="")
                        .swiper-slide.members__slide 
                            img(src="@img/members-img-3.png", alt="")
                        .swiper-slide.members__slide 
                            img(src="@img/members-img-4.png", alt="")
                .members__buttons
                    .swiper-button-prev.members__button-prev
                    .swiper-button-next.members__button-next