mixin offer()
    .offer.section 
        .offer__body.container 
            h2.offer__title.title Запишитесь на #[span.offer__title-span.title-span бесплатную] консультацию с нашим специалистом, чтобы расчитать стоимость и сроки работ для вашего объекта
            .offer__content 
                .offer__img 
                    img(src="@img/offer-img.png", alt="")
                .offer__right 
                    h3.offer__subtitle На консультации мы:
                    ul.offer__list 
                        li.offer__li Уточним все детали
                        li.offer__li Назовем точную стоимость и сроки
                        li.offer__li Подберем выгодные условия оплат
                    form(action="#" method="POST").offer__form
                        input(type="text" placeholder="Введите свое имя" name="client" required)#name.input
                        input(type="text" placeholder="Введите номер телефона" name="phone" required)#phone.input
                        button(type="submit" disabled).input__btn.object__btn.btn Рассказать про объект
                    p.offer__desc Нажимая на кнопку, вы даете согласие на обработку своих персональных данных и соглашаетесь с #[span.offer__span Политикой конфиденциальности]
                    .offer__info 
                        a(href="https://whatsapp.com").offer__icon
                            img(src="@img/whatsapp.svg", alt="")
                        a(href="https://telegram.com").offer__icon
                            img(src="@img/telegram.svg", alt="")
                        p.offer__info-p Записаться на консультацию по WhatsApp


