mixin prepare()
    .prepare.section 
        .prepare__body.container 
            h2.prepare__title.title #[span.prepare__title-span.title-span Без ошибок] готовим всю необходимую документацию для прохождения экспертизы
            p.prepare__desc В штате компании 40 сертифицированных специалистов
            p.prepare__p Следим за изменениями в законодательстве, ежегодно повышаем квалификацию
            .prepare__content 
                .prepare__img 
                    img(src="@img/prepare-img.png", alt="")
                .prepare__right 
                    p.prepare__subtitle Всю документацию оформляем в #[span.prepare__subtitle-span соответствии с нормативами]
                    p.prepare__text - СП 11-104-97 #[br] - СП 317.1325800.2017 #[br] - СП 47.13330.2016 #[br] - ГОСТ Р 51872-2019 #[br] - СП 126.13330.2017 #[br] - Условные знаки для топографических планов масштабов 1:5000 – 1:500