mixin risk()
    .risk.section 
        .risk__body.container 
            h2.risk__title.title Риск ошибок при обследовании и измерении #[span.ris__title-span.title-span сведен к 0] за счет высокоточного оборудования
            .risk__slider 
                .risk__swiper.swiper 
                    .risk__swiper-wrapper.swiper-wrapper    
                        .risk__slide.swiper-slide
                            .risk__img 
                                img(src="@img/risk-img-1.png", alt="")
                            p.risk__subtitle TRIMBLE R12
                            ul.risk__list 
                                li.risk__li Снимают на 30% быстрее
                                li.risk__li Работают на 33% дольше, чем другое оборудование, даже в самых сложных условиях, где плохо ловит сигнал.  
                        .risk__slide.swiper-slide
                            .risk__img 
                                img(src="@img/risk-img-2.png", alt="")
                            p.risk__subtitle ТАХЕОМЕТР СКАНИРУЮЩИЙ TRIMBLE SX10
                            ul.risk__list 
                                li.risk__li Снимают самое необходимое, экономят время и средства
                                li.risk__li Скорость съемки до 26,600 точек в секунду
                                li.risk__li Диапазон измерений до 600м
                                li.risk__li Облака точек сохраняются автоматически
                        .risk__slide.swiper-slide
                            .risk__img 
                                img(src="@img/risk-img-3.png", alt="")
                            p.risk__subtitle PHANTOM 4 RTK
                            ul.risk__list 
                                li.risk__li Выполняют съемку быстрее
                                li.risk__li Работают в сложных погодных и рельефных условиях, куда не могут добраться люди
                        .risk__slide.swiper-slide
                            .risk__img 
                                img(src="@img/risk-img-1.png", alt="")
                            p.risk__subtitle TRIMBLE R12
                            ul.risk__list 
                                li.risk__li Снимают на 30% быстрее
                                li.risk__li Работают на 33% дольше, чем другое оборудование, даже в самых сложных условиях, где плохо ловит сигнал.
                        .risk__slide.swiper-slide
                            .risk__img 
                                img(src="@img/risk-img-2.png", alt="")
                            p.risk__subtitle ТАХЕОМЕТР СКАНИРУЮЩИЙ TRIMBLE SX10
                            ul.risk__list 
                                li.risk__li Снимают самое необходимое, экономят время и средства
                                li.risk__li Скорость съемки до 26,600 точек в секунду
                                li.risk__li Диапазон измерений до 600м
                                li.risk__li Облака точек сохраняются автоматически
                        .risk__slide.swiper-slide
                            .risk__img 
                                img(src="@img/risk-img-3.png", alt="")
                            p.risk__subtitle PHANTOM 4 RTK
                            ul.risk__list 
                                li.risk__li Выполняют съемку быстрее
                                li.risk__li Работают в сложных погодных и рельефных условиях, куда не могут добраться люди
                .risk__buttons
                    .swiper-button-prev.risk__button-prev
                    .swiper-button-next.risk__button-next

