mixin stages()
    .stages.section 
        .stages__body.container 
            h2.stages__title.title Оплату за работу делим #[span.stages__title-span.title-span на 3 этапа ]последний - ПОСЛЕ прохождения экспертизы
            .stages__content 
                .stages__item 
                    .stages__img
                        img(src="@img/stages-img-1.svg", alt="")
                    h3.stages__subtitle Оплата не меняется в процессе работ
                    p.stages__p Четко закреплена в договоре
                .stages__item 
                    .stages__img
                        img(src="@img/stages-img-2.svg", alt="")
                    h3.stages__subtitle Даем скидки в зависимости от объема
                    p.stages__p Чем больше объект, тем больше скидка
                .stages__item 
                    .stages__img
                        img(src="@img/stages-img-3.svg", alt="")
                    h3.stages__subtitle Разбиваем оплату на этапы
                    p.stages__p Обсуждаем индивидуально, подбираем оптимальные условия
            button(type="button" data-target="#presents").popup-open.stages__btn.btn Рассчитать стоимость геодезических работ
            .stages__icons 
                .stages__icon 
                    img(src="@img/whatsapp-icon.svg", alt="") 
                p.stages__desc Рассчитать вместе с менеджером по WhatsApp
                    