mixin terms()
    .terms.section 
        .terms__body.container 
            h2.terms__title.title Сроки работ прописываем в договоре и соблюдаем их за счет #[span.terms__title-span.title-span  четко отлаженной системы контроля]
            .terms__content 
                .terms__item 
                    .terms__img 
                        img(src="@img/terms-img-1.png", alt="")
                    .terms__texts   
                        p.terms__subtitle Система управления проектами
                        p.terms__desc По каждому проекту есть четкий план со сроками и точками контроля. Вы в любой момент можете узнать, на какой стадии работы по вашему объекту
                .terms__item 
                    .terms__img 
                        img(src="@img/terms-img-2.png", alt="")
                    .terms__texts   
                        p.terms__subtitle Предоставляем отчеты по требованию клиента
                        ul.terms__list 
                            li.terms__li.terms__desc Фотоотчеты с места проведения полевых работ
                            li.terms__li.terms__desc Отчетные документы по проведению камеральных работ
                            li.terms__li.terms__desc Сырые файлы с приборов
                            li.terms__li.terms__desc Аэрофотосьемка с объекта
                .terms__item 
                    .terms__img 
                        img(src="@img/terms-img-3.png", alt="")
                    .terms__texts   
                        p.terms__subtitle Персональный менеджер
                        ul.terms__list 
                            li.terms__li.terms__desc В курсе всех работ по вашему объекту
                            li.terms__li.terms__desc На связи 24/7
                            li.terms__li.terms__desc Любой удобный способ связи (мессенджеры, телефон, электронная почта)
            .terms__info 
                p.terms__info-p Наработанный опыт и связи помогают нам выполнять работы быстрее #[span.terms__info-span даже в сложных, нестандратных случаях, не нарушая сроки ]
