mixin types()
    .types.section 
        .types__body.container 
            h2.types__title.title Выполняем #[span.types__title-span.title-span все виды]  геодезических работ
            .types__content 
                .types__item
                    .types__img 
                        img(src="@img/types-img-1.png", alt="")
                    h3.types__item-title #[span.types__item-span Геодезические ]#[br] изыскания
                .types__item
                    .types__img 
                        img(src="@img/types-img-2.png", alt="")
                    h3.types__item-title #[span.types__item-span Топографическая ]#[br] съёмка
                .types__item
                    .types__img 
                        img(src="@img/types-img-3.png", alt="")
                    h3.types__item-title #[span.types__item-span Гидрографические ]#[br] работы
                .types__item
                    .types__img 
                        img(src="@img/types-img-4.png", alt="")
                    h3.types__item-title #[span.types__item-span Контрольно ]#[br] исполнителная съёмка
                .types__item
                    .types__img 
                        img(src="@img/types-img-5.png", alt="")
                    h3.types__item-title #[span.types__item-span Геодезический ]#[br] мониторинг
                .types__item
                    .types__img 
                        img(src="@img/types-img-6.png", alt="")
                    h3.types__item-title #[span.types__item-span Аэрофотосъёмка ] 
            a(href="#!").types__btn.btn Не нашел нужную услугу 
                