mixin work()
    .work.section
        .work__body.container 
            h2.work__title.title #[span.work__title-span.title-span Работаем по всей России на любых объектах:] труднодоступных, особо опасных и объектах культурного наследия
            .work__content 
                .work__circle.circle 
                    p.work__circle-p.circle-p Выполняем 300 + проектов в год
                .work__item 
                    h3.work__item-title Соловки
                    p.work__item-p «Реконструкция причального комплекса «Тамарин» пос. Соловецкий»
                    .work__img
                        img(src="@img/work-img-1.png", alt="")
                .work__item 
                    h3.work__item-title Соловки
                    p.work__item-p Реконструкция ООО «Солнцевский угольный разрез» с увеличением мощности разреза до 10 млн. тонн угля в год
                    .work__img
                        img(src="@img/work-img-2.png", alt="")
                .work__item 
                    h3.work__item-title Соловки
                    p.work__item-p Лазерное сканирование и топографическая съемка. «Капитальный ремонт улицы Малышева от улицы Репина до улицы Высоцкого»
                    .work__img
                        img(src="@img/work-img-3.png", alt="")
                .work__item 
                    h3.work__item-title Соловки
                    p.work__item-p «Капитальный ремонт магистрального газопровода на участке Коломна-Рязань 79-93 км методом замены трубы»
                    .work__img
                        img(src="@img/work-img-4.png", alt="")