// Тема по умолчанию
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    font-family: "NunitoSans", sans-serif;
    &:focus,
    &:active{
        outline: none;
    }
}
html,
body{
    height: 100%;
}
.wrapper{
    min-height: 100%;
    display: flex;
    flex-direction: column;
    .main{
        flex: 1 1 auto;
    }
}
button{
    background: none;
    border: none;
    cursor: pointer;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
.title{
    font-family: 'Play';
    font-style: normal;
    font-weight: 700;
    font-size: 46px;
    line-height: 130%;
    color: #313330;
    &-span{
        color: #6C9875;
    }
}
.btn{
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
    background: linear-gradient(183.38deg, #BCDAC3 17.08%, #719B7A 96.95%);
    box-shadow: 0px 4.24905px 0px #78957E, inset 0px 2.8327px 4.24905px rgba(255, 255, 255, 0.25);
    border-radius: 10.5619px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.circle{
    background: #6C9875;
    max-width: 187px;
    width: 100%;
    height: 187px;
    border-radius: 50%;
    background: #6C9875;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    &::before{
        content: '';
        position: absolute;
        width: 209px;
        height: 209px;
        left: -10px;
        top: -10px;
        z-index: -1;
        background: rgba(108, 152, 117, 0.21);
        border-radius: 50%;
    }
    &-p{
        font-weight: 700;
        font-size: 20px;
        line-height: 130%;
        text-align: center;
        color: #FFFFFF;
    }
}