// Тема по умолчанию
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    font-family: "NunitoSans", sans-serif;
    &:focus,
    &:active{
        outline: none;
    }
}
html,
body{
    height: 100%;
    width: 100%;
    min-width: 100%;
    overflow-x: hidden;
}
.wrapper{
    min-height: 100%;
    display: flex;
    flex-direction: column;
    .main{
        flex: 1 1 auto;
    }
}
button{
    background: none;
    border: none;
    cursor: pointer;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
.section{
    padding-top: 75px;
    padding-bottom: 75px;
    @include media(992){
        padding-top: 35px;
        padding-bottom: 35px;
    }
}
.title{
    font-family: 'Play';
    font-style: normal;
    font-weight: 700;
    font-size: 46px;
    line-height: 130%;
    color: #414141;
    @include media(992){
        font-size: 22px;
        line-height: 130%;
    }
    &-span{
        color: #6C9875;
    }
}
.btn{
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
    background: linear-gradient(183.38deg, #BCDAC3 17.08%, #719B7A 96.95%);
    box-shadow: 0px 4px 0px #78957E, inset 0px 2.8327px 4px rgba(255, 255, 255, 0.25);
    border-radius: 10.5619px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 0;
    transition: 200ms ease;
    &:active{
        box-shadow: none;
        bottom: -4px;
    }
    @include media(767){
        font-size: 14px;
        line-height: 19px;
    }
}
.circle{
    background: #6C9875;
    max-width: 187px;
    width: 100%;
    height: 187px;
    border-radius: 50%;
    background: #6C9875;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding-right: 20px;
    padding-left: 20px;
    &::before{
        content: '';
        position: absolute;
        width: 209px;
        height: 209px;
        left: -10px;
        top: -10px;
        background: rgba(108, 152, 117, 0.21);
        border-radius: 50%;
        z-index: -1;
    }
    &-p{
        font-weight: 700;
        font-size: 20px;
        line-height: 130%;
        text-align: center;
        color: #FFFFFF;
    }
}
.swiper{
    overflow: hidden;
    position: relative;
    width: 100%;
    &-wrapper{
        display: flex;
        width: max-content;
    }
    &-slide{
        width: auto;
    }
    &-button{
        &-next,
        &-prev{
            width: 56px;
            height: 56px;
            border-radius: 50%;
            pointer-events: all !important;
            @include media(576){
                width: 36px;
                height: 36px;
            }
        }
        &-prev{
            background: url('../img/carousel-prev.svg') 100% 100% / cover no-repeat;
            transition: 200ms ease;
            &.swiper-button-disabled{
                opacity: 0.5;
            }
        }
        &-next{
            background: url('../img/carousel-prev.svg') 100% 100% / cover no-repeat;
            transform: rotate(180deg) scaleY(-1);
            transition: 200ms ease;
            &.swiper-button-disabled{
                opacity: 0.5;
            }
        }
    }
}
input[type="checkbox"]{
    appearance: none;
    width: 20px;
    height: 20px;
    background: #EBEAEA;
    border-radius: 4px;
    position: relative;
    &::before{
        content: "";
        position: absolute;
        background: url(../img/check-arrow.svg) center / cover no-repeat;
        width: 13px;
        height: 7px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: 200ms ease;
        opacity: 0;
        visibility: hidden;
    }
    &:checked{
        &::before{
            opacity: 1;
            visibility: visible;
        }
    }
}
.input__error{
    color: red;
    display: none;    
    position: absolute;
    bottom: -35px;
    left: 0;
    @include media(1200){
        position: static;
    }
    &.active{
        display: block;
    }
}   
.input{
    font-weight: 400;
    min-width: 308px;
    width: 100%;
    background: #F8F8F8;
    border-radius: 4px;
    border: none;
    padding: 24px 15px;
    @include media(992){
        width: 100%;
        min-width: 100%;
    }
    &::placeholder{
        text-align: center;
        font-size: 18px;
        line-height: 25px;
        color: #BCBCBC;
        @include media(992){
            font-weight: 400;
            font-size: 14px;
            line-height: 19px;
        }
    }
}
.input__btn{
    min-width: 308px;
    width: 100%;
    height: 70px;
    @include media(767){
        min-width: 100%;
        width: 100%;
    }
}
.close-icon{
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
}