doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="css/style.min.css")
        title Document
    body 
        .wrapper 
            include components/header 
            +header 
            .main 
                include components/intro 
                +intro
                include components/work 
                +work
                include components/object 
                +object
                include components/types 
                +types
                include components/order 
                +order
                include components/terms 
                +terms
                include components/offer 
                +offer
                include components/prepare 
                +prepare
                include components/members 
                +members
                include components/risk 
                +risk
                include components/help 
                +help
            include components/footer 
            +footer
        script(src="js/app.min.js") 